[Unit]
Description=Bookmarks live events service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{BOOKMARKS_CWD}}
ExecStart={{BOOKMARKS_BIN}} service
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
